{{ "<!-- About Section -->" | safeHTML }}
{{ if isset .Site.Params "contact" }}
{{ if .Site.Params.contact.enable }}
<section id="contact">
  <div class="container">
    <div id="hero">
      <h2> {{ .Site.Params.contact.title }} </h2>
      <p class="hero-lead">
           {{ .Site.Params.contact.subtitle }}.
      </p>

    </div> 
    <div class="row">
        <div class="col col-12">
                <div id="contact-message"></div>

                <form class="form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
                  <fieldset>
                    <div class="row">
                      <div class="col col-6">

                        {{ with .Site.Params.contact.form.name }}
                        <div class="form-item col-11">
                          <input class="form-control" id="name" required="required" type="text" name="name" placeholder="{{ with .text }}{{ .  | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                          <p class="help-block text-danger"></p>
                        </div>
                        {{ end }}

                        {{ with .Site.Params.contact.form.email }}
                        <div class="form-group">
                          <input class="form-control col-11" id="email" required="required" type="email" name="email" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}">
                          <p class="help-block text-danger"></p>
                        </div>
                        {{ end }}
                      </div>
                        <!--message-->

                      <div class="col col-6">
                      {{ with .Site.Params.contact.form.message }}
                        <div class="form-group">
                          <textarea class="form-control" id="message" required="required" name="message" placeholder="{{ with .text }}{{ . | markdownify }}{{ end }}" data-validation-error-msg="{{ with .warning }}{{ . | markdownify }}{{ end }}"></textarea>
                          <p class="help-block text-danger"></p>
                        </div>
                        {{ end }}
                      </div>

                      <div class="col col-12 align-center">                    
                        <div class="text-success" id="success" style="display:none;">
                          {{ with .Site.Params.contact.thanks }}
                            {{ . | markdownify }}
                          {{ else }}
                            Thank you for contacting us.
                          {{ end }}
                        </div>
                        <div class="text-danger" id="error" style="display:none;">
                          {{ with .Site.Params.contact.error }}
                            {{ . | markdownify }}
                          {{ else }}
                            Message could not be send. Please contact us at {{ (or .Site.Params.contact.email .Site.Params.email) }} instead.
                          {{ end }}
                        </div><br />
                        <button type="submit" value="Submit" class="button w100">{{ with .Site.Params.contact.buttonText }}{{ . }}{{ end }}</button>
                      </div>
                    </div>
                    {{ range .Site.Params.contact.form.hidden }}
                      {{ if eq .name "site" }}
                        <input type="hidden" name="{{ .name }}" value="{{ $.Permalink }}"/>
                      {{ else if eq .name "page" }}
                        <input type="hidden" name="{{ .name }}" value="{{ $.URL }}"/>
                      {{ else }}
                        <input type="hidden" name="{{ .name }}" value="{{ .value }}"/>
                      {{ end }}
                    {{ end }}
                    <!-- /.row -->
                    </fieldset>
                </form>

        </div>

    </div>
    <!-- /.row -->
</div>
</section>
<!-- /.bar -->
{{ end }}
{{ end }}

  </div>
</section>
