{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  {{ if .Site.Params.contact.enable }}
  <div class = "row align-center">
    {{ with .Site.Params.contact.title }}<a class="label focus outline large" href="#contact">{{ . }}</a>{{ end }}
  </div>
  {{ end }}

  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" height="48" src="./img/kube/icon-baseline.png" width="48">
        </figure>
        <h3>GUI</h3>
        <p>We truly believe that testing should be something easy and efficient</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" height="48" src="./img/kube/icon-typo.png" width="48">
        </figure>
        <h3>Reports</h3>
        <p>With Apibot is easier to track your bugs or even your succesfull scenarios</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="./img/kube/icon-minimalism.png" width="48">
        </figure>
        <h3>Minimalism</h3>
        <p>We strongly believe in minimalism as a general concept as well as a practical approach to everyday life.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Reuse your scenarios</h4>
        <p>Apibot helps you on reusing your scenarios while changing your input data if seems neccesary</p>
      </div>
      <div class="col col-4 item">
        <h4>Add logic your tests</h4>
        <p>Apibot allows you to add logic to your tests.</p>
      </div>
      <div class="col col-4 item">
        <h4>License</h4>
        <p>Kube licensed under <a href="http://opensource.org/licenses/MIT">MIT</a>.<br>
      Kube Framework is absolutely free for personal or commercial use.</p>
    </div>
  </div>
</div>
{{ partial "about.html" . }}
{{ partial "contact.html" . }}
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}